
/generated/prisma

# ENV
.env
.env.local
.env.development
.env.production

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend builds
build/
dist/

# Prisma
.prisma/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
